/qoj_post_processing
/importtt
/docs
*.test
*.out
/acquisition/example
/keys
/acquisition/config.json
/ui/keys
/ui/recordings
/ui/config
# Extracted Caddy CA (machine-local), written by ui/trust_caddy_ca.sh
/ui/caddy-root-ca.crt
__pycache__/
.venv/
venv/

